.header {
  background-color: #a18d78;
  min-width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}

.img {
  position: relative;
  max-width: 87px;
  max-height: 82px;
  margin: 4px;
  border-radius: 10px;
}

.searchbar {
  background-image: url(magnifying.jpg);
  background-position: bottom 50% right 7px;
  
  background-repeat: no-repeat;
  background-size: 45px, 42px;
  position: absolute;
  width: 54px;
  height: 54px;
  top: 16px;
  right: 215px;
  background-color: #d6b492;
  mix-blend-mode: lighten;
  border-radius: 11px;
  transition: 0.3s ease-in;
  border: 0px;
  caret-color: transparent;
  color: transparent;
  font-size: 42px;
  font-weight: 700;
  font-family: "Coming Soon";
  font-style: normal;
}

.searchbar:hover {
  transition: 0.3s ease-in;
  width: 240px;
  color:black;
  padding-left: 15px;
  padding-right: 57px;
  border: 2px;
}
.star {
  max-width: 45px;
  max-height: 42px;
  top: 24px;
  right: 85px;
  border-radius: 9px;
  position: absolute;
}
.star:hover{
  border: 1px;
  border-style: solid;
  border-color: #544A40;
}
.magglas {
  
  top: 24px;
  right: 200px;
  position: absolute;
  max-width: 45px;
  max-height: 42px;
}

.add{
  border-radius: 9px;
  position: absolute;
  max-width: 45px;
  max-height: 42px;
  top: 24px;
  right: 150px;
}

.avatar{
  border-radius: 9px;
  position: absolute;
  max-width: 45px;
  max-height: 42px;
  top: 24px;
  right: 31px;
}

.add:hover{
  border-color: #544A40;
  border: 1px;
  border-style: solid;
}