
.divTable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #A18D78;
    margin:3.3%;

    width: 67%;
    min-height: 100px;
    max-height: 70%;
    max-height: 80vh;
    overflow-y: auto;
    
}

.img{
    margin: 1%;
    width: 23%;
    height: 18%;
}
